<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title)</title>
    <!-- 公共样式文件（必须加载） -->
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @RenderSection("Css", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<!-- 公共脚本文件（必须加载） -->
@System.Web.Optimization.Scripts.Render("~/bundles/js")
@RenderSection("Js", false)